<div class="container">
    <br>
    <h1  class="lead">Contact me</h1>
      <div id="contact">
        <div id="email">
            <h2><fa-icon [icon]="faEnvelope"></fa-icon> Email:</h2>
            <h2>RuthnamPresh@gmail.com</h2>
        </div>
        <div id="phone">
            <h2><fa-icon [icon]="faPhone"></fa-icon> Phone:</h2>
            <h2>071 611 3248</h2>
        </div>
        <div id="location">
            <h2><fa-icon [icon]="faMapPin"></fa-icon> Location:</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3582.083203209747!2d28.1546613147552!3d-26.128829983471476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9512ffad7afd0b%3A0x8d71bb571312487e!2s8+Jordaan+St%2C+Eastleigh%2C+Edenvale%2C+1609!5e0!3m2!1sen!2sza!4v1551278699675" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      </div>
</div>
