<div class="jumbotron">
  <h1 class="lead">Full Stack Web and Mobile Developer</h1>
  <img src="../assets/images/profile.jpg" alt="Profile_Picture"  id="pPicture">
  <div class="container" id="skills">
     <ul>
       <li class="skill"> HTML <fa-icon [icon]="faHtml5"></fa-icon></li>
       <li class="skill"> CSS <fa-icon [icon]="faCss3"></fa-icon></li>
       <li class="skill"> Javascript <fa-icon [icon]="faJs"></fa-icon></li>
       <li class="skill"> Angular <fa-icon [icon]="faAngular"></fa-icon></li>
       <li class="skill"> SQL  <fa-icon [icon]="faDatabase"></fa-icon></li>
     </ul>
     <ul>
        <li class="skill"> PHP <fa-icon [icon]="faPhp"></fa-icon></li>
        <li class="skill"> Java <fa-icon [icon]="faJava"></fa-icon></li>
        <li class="skill"> C# <fa-icon [icon]="faMicrosoft"></fa-icon></li>
      </ul>
  </div>
  <hr class="my-4">
  <div id="social-links">

  </div>
</div>
