.jumbotron {
  text-align: center;
  margin-top: -38px;
}
#pPicture {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 0%;
}
h1 {
  display: block;
  font-size: 2.9em;
  font-weight: bold;
}
.skill {
  display: inline;
  font-weight: bold;
  font-size: 2em;
  margin-right: 5px;
  padding-right: 5px;
}

#skills {
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 5px;
}
